.container-reporte {
      padding: 10px;
    }

#editor_container img, div.richText img, #report_container img {
    max-width: 100%;
}

#editor_container img.mapa, div.richText img.mapa, #report_container img.mapa {
    /* width: 333px; */
    width: 100%;
    height: auto;
}

#editor_container img.plot, div.richText img.plot, #report_container img.plot {
    /* max-width: 714px; */
    clip-path: inset(0% 3% 0% 1%);
    width: 100%;
    height: auto;
}

.richText .richText-editor .table-wrapper, #report_container .table-wrapper {
    overflow-x: auto;
    width: 100%;
    scrollbar-width: thin; /* Firefox */
}

.richText .richText-editor table.tabla-hidro, #report_container table.tabla-hidro {
    /* width: 714px;  */
    margin: 10px 0;
    border-collapse: collapse;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.richText .richText-editor table.tabla-hidro td, .richText .richText-editor table.tabla-hidro th, #report_container table.tabla-hidro td, #report_container table.tabla-hidro th {
    padding: 5px;
    border: #EFEFEF solid 2px;
    text-align: center;
}

.richText .richText-editor table.tabla-hidro thead, #report_container table.tabla-hidro thead {
    background-color: darkgray;
}

.richText .richText-editor table.leyenda-tabla-hidro, #report_container table.leyenda-tabla-hidro {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.richText .richText-editor table.leyenda-tabla-hidro td, #report_container table.leyenda-tabla-hidro td {
    padding: 0px;
    text-align: center;
}


.richText .richText-editor, .richText .richText-initial {
    height: 600px;
}

#report_container { 
    margin: 0 auto;
    /* padding: 10px; */
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

#report_container table {
    width: 714px; 
    margin: 10px 0;
}
#report_container table td, #report_container table th {
    padding: 15px;
    border: #EFEFEF solid 1px;
}

#report_container .paragraph {
    font-size: 14px;
}

#report_container #lista-notas {
    font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

.mapas-flex-grid {
    display: flex; 
    flex-wrap: wrap;
    /* max-width: 714px; */
}

.mapas-flex-item {
  flex: 0 0 50%;  /* 2 items per row */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

#mapa-condicion {
      position: relative;
      margin: 0;
      padding: 0;
      max-width: 400px;
      min-width: 300px;
      height: 400px;
      /* flex: 1; */
}
.ol-legend {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: white;
      border: 1px solid #ccc;
      padding: 5px;
      z-index: 1;
}

#report_container .ol-legend img {
      max-width: 125px;
}

.text-box {
    width: 300px;
    padding: 1em;
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center; /* optional: horizontal centering */
}

.text-box p, .text-box div {
    font-size: 14px;
    font-style: italic;
}


#mapa-row {
    display: flex;
    /* height: 100vh; */
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

#map-modal {
    display: none;
    position: absolute;
    /* top: 20%; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    background: white;
    border: 1px solid #ccc;
    padding: 12px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-size: 14px;
}

#map-modal button {
    margin-top: 10px;
}

@media (max-width: 660px) {
    .container-reporte p {
        max-width: 95vw;
        min-width: 300px;
    }

    .richText .richText-editor table.leyenda-tabla-hidro, #report_container table.leyenda-tabla-hidro {
        margin-left: 100px;
    }
}

@media (max-width: 600px) {
  #mapa-row {
    flex-direction: column; /* stack vertically on small screens */
  }
}

@media (min-width: 1200px) {
  .container-reporte {
    width: 1170px;
  }
}